
@{
    ViewData["Title"] = "Login";
    Layout = "~/Areas/Identity/Views/Shared/_LayoutIdentity.cshtml";
}

<h1>Login</h1>

<hr />
<form asp-action="Login" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Username"></label>
        <input type="text" asp-for="Username" class="form-control" placeholder="Username"/>
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input type="password" asp-for="Password" class="form-control" placeholder="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Login</button>
</form>
